/* Allow window to be dragged from anywhere */
* {
    -webkit-app-region: drag;
}

button, a, input {
    -webkit-app-region: no-drag;
}

html {
    background-color: #7a7;
}

body {
    -webkit-user-select: none;
    padding: 2rem;
    height: 100%;
}

.game {
    overflow: auto;
}

h1 {
    margin-bottom: 2rem;
    font-size: 265%;
    font-family: serif;
}

div {
    display: block;
    box-sizing: border-box;
}

.attempts {
    float: left;
    margin-right: 2rem;
    width: 18rem;
}

.controls {
    float: left;
    width: 9rem;
    margin-bottom: 2rem;
}

.controls .pin {
    margin-bottom: .5rem;
    cursor: pointer;
}

.attempt {
    clear: both;
    overflow: auto;
    margin-bottom: 1rem;
}

.pins {
    margin-right: 2rem;
}

.pin, .clues {
    width: 2.2rem;
    height: 2.2rem;
    float: left;
}

.pin {
    margin-right: .5rem;
    border-radius: 100%;
}

.Red { background-color: darkred; }
.Cyan { background-color: aqua; }
.Green { background-color: forestgreen; }
.Orange { background-color: orange; }
.Magenta { background-color: darkmagenta; }
.Blue { background-color: darkblue; }
.None { background-color: rgba(0, 0, 0, .2) }

.clue {
    margin-right: .2rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    width: .8rem;
    height: .8rem;
    float: left;
    border-radius: 100%;
}

.Correct { background-color: black; }
.Misplaced { background-color: white; }
.NoClue { background-color: rgba(0, 0, 0, .2) }

button {
    cursor: pointer;
    background-color: #363;
    color: #fff;
    font-weight: 500;
    font-size: 80%;

    border: none;
    border-radius: 2rem;
    padding: .6rem 1rem;

    margin-left: .2rem;
    margin-bottom: .2rem;
}

button:active {
    background-color: #242;
}

button:focus {
    outline: none;
}

.Check {
    box-sizing: border-box;
    width: 4.6rem;
}

.SaveLoad {
    position: absolute;
    bottom: 0;
    right: 2rem;
}
